<!-- Flash Success -->
<% if(success && success.length) { %>
  <div class="flash-message success">
    <%= success %>
    <button class="btn-close" onclick="this.parentElement.remove()"></button>
  </div>
<% } %>

<!-- Flash Error -->
<% if(error && error.length) { %>
  <div class="flash-message error">
    <%= error %>
    <button class="btn-close" onclick="this.parentElement.remove()"></button>
  </div>
<% } %>


<script>
  setTimeout(() => {
    document.querySelectorAll('.flash-message').forEach(msg => {
      msg.remove();
    });
  }, 4500); // 4.5 seconds baad remove
</script>

