<footer>
  <div class="footer-container">
    
    <!-- Top Section (Grid Links) -->
    <div class="footer-links">
      <div>
        <h5>Support</h5>
        <a href="#">Help Centre</a>
        <a href="#">Safety Information</a>
        <a href="#">Cancellation Options</a>
        <a href="#">Report an Issue</a>
        <a href="#">Accessibility</a>
      </div>
      
      <div>
        <h5>Community</h5>
        <a href="#">WanderNest Blog</a>
        <a href="#">Travel Stories</a>
        <a href="#">Events</a>
        <a href="#">Gift Cards</a>
        <a href="#">Invite Friends</a>
      </div>
      
      <div>
        <h5>Hosting</h5>
        <a href="#">Become a Host</a>
        <a href="#">Resources for Hosts</a>
        <a href="#">Community Forum</a>
        <a href="#">Host Responsibility</a>
        <a href="#">Host an Experience</a>
      </div>
      
      <div>
        <h5>About</h5>
        <a href="#">About WanderNest</a>
        <a href="#">Newsroom</a>
        <a href="#">Careers</a>
        <a href="#">Investors</a>
        <a href="#">Terms & Conditions</a>
      </div>
    </div>

    <!-- Middle Section  -->
    <div class="footer-extra">
      <p>
        WanderNest is your trusted travel partner for unique stays across the globe.  
        Explore homes, apartments, and experiences hosted by people just like you.  
      </p>
      <p>
        Languages available: English · Hindi · Français · Deutsch · Español
      </p>
    </div>

    <!-- Bottom Section -->
    <div class="footer-bottom">
      <div class="f-info-socials">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
      <div class="copy">
        &copy; 2025 WanderNest Pvt. Ltd. | All Rights Reserved
      </div>
      <div class="copy">
         Privacy · Terms · Sitemap
      </div>
      
    </div>

  </div>
</footer>
